body{
	background-color: rgb(204, 204, 204)
}
#playlist{
	 border: 1px solid black ;
	background-color: white;
	
	
}
.player_one, .player_two {
	
	background-color: rgb(255, 255, 255); 
	margin-left:auto;
	margin-right:auto;
	border-radius: 15px
}
#mainpage{
	display:flex;
	justify-content:center;
	
}
.wrapper{
	border: 1px solid black;
	background-color: white;
    padding:15px;
	border-radius:10px;
}
audio{
	width: 100%
}
a{
	text-decoration-line: none;
}